{
  "swagger": "2.0",
  "info": {
    "title": "Image",
    "description": "This is an API image, allowing me to add definitions for key and phrases used in the API space.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "image.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/image/": {
      "get": {
        "summary": "retrieves all image",
        "description": "pulls all image, with filter by keyword",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Image"
        ]
      },
      "post": {
        "summary": "add image",
        "description": "add a new image",
        "operationId": "addImage",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "formData",
            "description": "thumbnailUrl of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "formData",
            "description": "width of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "height",
            "in": "formData",
            "description": "height of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "formData",
            "description": "creator of the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Image"
        ]
      }
    },
    "/image/{image_id}": {
      "get": {
        "summary": "retrieve image term",
        "description": "retrieve image term",
        "operationId": "getImageTerm",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Image"
        ]
      },
      "put": {
        "summary": "update image",
        "description": "update image",
        "operationId": "updateImageTerm",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "formData",
            "description": "thumbnailUrl of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "formData",
            "description": "width of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "height",
            "in": "formData",
            "description": "height of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "formData",
            "description": "creator of the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Image"
        ]
      },
      "delete": {
        "summary": "delete image term",
        "description": "deletes an image term",
        "operationId": "deleteImageTerm",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Image"
        ]
      }
    },
    "/image/{image_id}/tags/": {
      "get": {
        "summary": "retrieve image tags",
        "description": "Returns the tags for an image",
        "operationId": "getimageTags",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for image",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to image",
        "description": "add tag for image",
        "operationId": "addImageTag",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/image/{image_id}/tags/{tag}": {
      "delete": {
        "summary": "delete a image tag",
        "description": "deletes a tag applied to image",
        "operationId": "deleteimageTag",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "image": {
      "properties": {
        "name": {
          "description": "name of the image",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the image",
          "type": "string"
        },
        "url": {
          "description": "url for the image",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "thumbnail url for the image",
          "type": "string",
          "format": "id"
        },
        "width": {
          "description": "width for the image",
          "type": "string",
          "format": "id"
        },
        "height": {
          "description": "height for the image",
          "type": "string",
          "format": "id"
        },
        "creator": {
          "description": "creator of the image",
          "type": "string",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}