{
  "swagger": "2.0",
  "info": {
    "title": "Image",
    "description": "This is a image api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "image.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/image/": {
      "get": {
        "summary": "retrieves all images",
        "description": "pulls all images, with filter by keyword",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "image",
          "imageging"
        ]
      },
      "post": {
        "summary": "add image",
        "description": "add a new image",
        "operationId": "addImage",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "image",
          "imageging"
        ]
      }
    },
    "/image/{slug}": {
      "get": {
        "summary": "Retrieve a image using its slug",
        "description": "Returns the image detail",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the image, notice this is in the path, not a query variable",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "image",
          "imageging"
        ]
      },
      "put": {
        "summary": "update image",
        "description": "update image",
        "operationId": "updateImage",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "image",
          "imageging"
        ]
      },
      "delete": {
        "summary": "delete image",
        "description": "deletes an image",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "image",
          "imageging"
        ]
      }
    }
  },
  "definitions": {
    "image": {
      "properties": {
        "name": {
          "description": "name of the image",
          "type": "string"
        },
        "description": {
          "description": "description of the image",
          "type": "string"
        },
        "url": {
          "description": "url for the image",
          "type": "string"
        },
        "tags": {
          "description": "tags for the image",
          "type": "string"
        },
        "slug": {
          "description": "slug for the image",
          "type": "string"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
