{
  "swagger": "2.0",
  "info": {
    "title": "Images",
    "description": "This is an API image, allowing me to add definitions for key and phrases used in the API space.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "image.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/images/": {
      "get": {
        "summary": "get images",
        "description": "all images",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across image",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      },
      "post": {
        "summary": "add image",
        "description": "add image",
        "operationId": "addImage",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "imageUrl",
            "in": "formData",
            "description": "url of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "formData",
            "description": "thumbnailUrl of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "formData",
            "description": "width of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "height",
            "in": "formData",
            "description": "height of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "formData",
            "description": "creator of the image",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      }
    },
    "/images/{image_id}/": {
      "get": {
        "summary": "get image",
        "description": "get image",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      },
      "put": {
        "summary": "update image",
        "description": "update image",
        "operationId": "updateImage",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "formData",
            "description": "description of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "imageUrl",
            "in": "formData",
            "description": "url of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "thumbnailUrl",
            "in": "formData",
            "description": "thumbnailUrl of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "formData",
            "description": "width of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "height",
            "in": "formData",
            "description": "height of the image",
            "required": false,
            "type": "string"
          },
          {
            "name": "creator",
            "in": "formData",
            "description": "creator of the image",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      },
      "delete": {
        "summary": "delete image",
        "description": "delete image",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image term",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "image response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      }
    },
    "/images/{image_id}/tags/": {
      "get": {
        "summary": "get image tags",
        "description": "get image tags",
        "operationId": "getimageTags",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for image",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add image tag",
        "description": "add image tag",
        "operationId": "addImageTag",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/images/{image_id}/tags/{tag}/": {
      "delete": {
        "summary": "delete image tag",
        "description":"delete image tag",
        "operationId": "deleteImageTag",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/images/sync/amazons3/": {
      "delete": {
        "summary": "sync amazon s3",
        "description":"sync amazon s3",
        "operationId": "syncAmazonS3",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the image",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the image",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Sync Amazon S3 Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }    
  },
  "definitions": {
    "image": {
      "properties": {
        "image_id": {
          "description": "id for the image",
          "type": "integer",
          "format": "id"
        },  
        "name": {
          "description": "name of the image",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the image",
          "type": "string"
        },
        "imageUrl": {
          "description": "url for the image",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "thumbnail url for the image",
          "type": "string",
          "format": "id"
        },
        "width": {
          "description": "width for the image",
          "type": "string",
          "format": "id"
        },
        "height": {
          "description": "height for the image",
          "type": "string",
          "format": "id"
        },
        "creator": {
          "description": "creator of the image",
          "type": "string",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}